@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }
 header{
    width: 100%;
    padding: 28px 8%;
    position:sticky;
    top:0;
    z-index: 3;
    background-color: white;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);

  }
header .logo {
    font-size: 3rem;
    color: #333;
    font-weight: bolder;
    text-decoration: none;
}

header .logo span {
    color: var(--pink);
}
  #navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  #nav_logo {
    font-size: 24px;
  }
  
  #nav_list {
    display: flex;
    list-style: none;
    gap: 48px;
    font-size: 2rem;
    padding: 0 1.5rem;
    color: black;
  }
  
  .nav-item a {
    text-decoration: none;
    color: black;
    font-weight: 600;
  }
  .nav-item.active a {
    color: black;
  }
  .nav-item a:hover {
    background-color: pink;
  }
  .nav-item a {
    text-decoration: none;
    color: black;
    font-weight: 600;
  }
  
.icons a {
    font-size: 2.5rem;
    color: #333;
    margin-left: 1.5rem;
    text-decoration: none;
}

header .icons a:hover {
    color: var(--pink);
}

header #toggler {
    display: none;
}

header .fa-bars {
    font-size: 3rem;
    color: #333;
    border-radius: 0.5rem;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    border: 0.1rem solid rgba(0, 0, 0, 0.3);
    display: none;
}

@media (max-width: 768px) {
    header .fa-bars {
        display: block;
    }

    header .navbar {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background: #eee;
        border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header #toggler:checked ~ .navbar {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    header .navbar a {
        margin: 1.5rem;
        padding: 1.5rem;
        background: #fff;
        border: 0.1rem solid rgba(0, 0, 0, 0.1);
        display: block;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }
}

/*imagens dos produtos*/

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Impede a quebra de linha, mantendo todas as imagens em uma linha */
    padding: 20px;
    gap: 30px; /* Ajusta o espaçamento entre os blocos */
}

.produto {
    width: 230px; /* Ajusta a largura dos blocos para que caibam 5 em uma linha */
    text-align: center;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s;
}

.produto:hover {
    transform: scale(1.05);
}

.produto img {
    width: 100%;
    height: 300px; /* Ajuste a altura para criar o formato retangular */
    object-fit: cover; /* Mantém a imagem centralizada e cortada se necessário */
    border-radius: 8px;
}

.produto p {
    margin: 10px 0;
    padding: 0 10px;
    font-size: 14px;
    color: #333;
}

.produto .descricao {
  font-weight: 'Poppins';
  font-size: 16px; /* Aumenta o tamanho da fonte para a descrição */
  color: black; /* Cor diferente para a descrição */
}

.preco {
    font-weight: bold;
    color: black;
    font-size: 20px;
}

.marcacao {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 70px;
}

.footer{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    bottom: 0;
    left: 0;

}

.footer-contaneir{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}


/* formulário de login */

.form-container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
  max-width: 400px;
  margin: 2rem auto;
  padding: 2rem;
}

.form-container form {
  display: flex;
  flex-direction: column;
}

.form-container label {
  font-size: 1rem;
  color: #333;
  margin-bottom: 0.5rem;
}

.form-container input[type="email"], 
.form-container input[type="password"] {
  padding: 0.75rem;
  border: 1px solid #ddd;
  border-radius: 9px;
  margin-bottom: 1.5rem;
  font-size: 1rem;
}

.form-container input[type="submit"].botao-cadastrar {
  background-color: #7e3f42;
  color: #fff;
  border: none;
  padding: 0.75rem;
  border-radius: 9px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form-container input[type="submit"].botao-cadastrar:hover {
  background-color: #6b3538;
}

/* título dentro do formulário de cadastro e login */

.container-admin-banner {
  text-align: center;
  padding: 1rem;
  color: #7e3f42;
}

.container-admin-banner h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

/* formulário de Cadastro */

  .container-form {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
    max-width: 400px;
    margin: 2rem auto;
    padding: 2rem;
  }
  
  .container-form form {
    display: flex;
    flex-direction: column;
  }
  
  .container-form label {
    font-size: 1rem;
    color: #333;
    margin-bottom: 0.5rem;
  }
  
  .container-form input[type="text"],
  .container-form input[type="email"],
  .container-form input[type="password"] {
    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 9px;
    margin-bottom: 1.5rem;
    font-size: 1rem;
  }
  
  .container-form input[type="submit"].botao-cadastrar {
    background-color: #7e3f42;
    color: #fff;
    border: none;
    padding: 0.75rem;
    border-radius: 9px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .container-form input[type="submit"].botao-cadastrar:hover {
    background-color: #7e3f42;
  }
  
  /* mensagem de erro */

  .container-form label[for="erro"] {
    color: red;
    font-size: 0.9rem;
    margin-top: -1rem;
  }

  /* janela modal */

  .modal {
    display: none; /* escondido por padrão */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7); /* fundo escuro com opacidade */
  }

  .modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  }

  .modal-content h2 {
    color: #09a12c; /* cor verde para indicar sucesso */
    font-size: 2rem;
  }

  .modal-content p {
    margin: 20px 0;
    font-size: 1.2rem;
  }

  .btn-close-modal {
    background-color: #7e3f42;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 9px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
  }

  .btn-close-modal:hover {
    background-color: #7e3f42;
  }

  
/* carrosel */

.carousel-container {
  position: relative;
  max-width: 70%; /* Limita a largura do carrossel a 80% da tela */
  margin: 2rem auto; /* Centraliza o carrossel com uma margem superior e inferior */
  overflow: hidden;

}

.carousel {
  display: flex;
  transition: transform .7s ease-in-out;
}

.carousel-slide {
  min-width: 100%;
  box-sizing: border-box;
}

.carousel img {
  width: 100%; /* Faz a imagem ocupar 90% da área do slide */
  margin: 0 auto; /* Centraliza a imagem */

}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: white(241, 19, 19, 0.5);
  color: #7e3f42;
  font-size: 18px;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%; /* Botões circulares */
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
