/* Formulário de login */

html, body {
    height: 100%;
    background-color: #f8f9fa;
}

img {
    width: 50px;
    height: auto;
}

.form-container {
    max-width: 350px;
    padding: 1rem;
    border-radius: 0.5rem; /* bordas arredondadas */
    
}

.form-floating {
    margin-bottom: 1rem; /* aumenta o espaçamento entre os campos */
}

.btn-primary {
    background-color: #007bff; 
    border: none; 
}

.btn-primary:hover {
    background-color: #0056b3; /* cor do botão ao passar o mouse */
}