html, body {
    height: 100%; 
    background-color: #f8f9fa;
    margin: 0; 
}

img {
    width: 100px;
    height: auto;
}

.form-container {
    max-width: 500px;
    padding: 1rem;
    border-radius: 0.5rem; /* Bordas arredondadas */
    
}

.btn-primary {
    background-color: #007bff; 
    border: none; /* Remove a borda padrão */
}

.btn-primary:hover {
    background-color: #0056b3; /* Cor do botão ao passar o mouse */
}
